$color-theme: #434acc;
$color-sub: #409b36;
$color-hover: #2868cf;
$color-news: #4bced6;
$color-event: #53a14a;
$color-junior: #e78912;
$color-member: #dc2424;
$color-magazine: #ed5ca6;

$color-link: #306bff;
$border-gray: #d5d5d1;

$font-black: #1e1e1e;
