.c-btn {
  height: 80px;
  width: 100%;
  max-width: 240px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-radius: 10px;
  padding: 0 16px;
  margin: 6px;
  max-width: 320px;
  font-weight: bold;
  position: relative;
  &:nth-child(n + 5) {
    margin-top: 12px;
  }
  span {
    width: 32px;
    height: 32px;
    @include absolute-center-y;
    right: 12px;
  }
  .u-icon-link--blue,
  .u-icon-link--white {
    width: 16px;
    height: 16px;
  }
}
.c-btn-wrap {
  margin: 0 -6px;
  display: flex;
  flex-wrap: wrap;
  .c-btn {
    width: calc(100% / 4 - 12px);
    text-align: left;
  }
}
.c-btn--primary {
  @extend .c-btn;
  background-color: $color-theme;
  color: #fff;
  justify-content: center;
}

.c-text-btn {
  display: flex;
  @include transition($property: opacity);
  &:hover {
    opacity: 0.7;
    .u-icon-back-link--blue {
      transform: translateX(-4px);
    }
  }
  .u-icon-back-link--blue {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    @include transition($property: transform);
  }
}
