.c-card {
  display: flex;
  margin: 40px -6px 0;
  flex-wrap: wrap;
  &.c-card--2 {
    .c-card__item {
      width: calc(100% / 2 - 12px);
    }
  }
  &.c-card--5 {
    .c-card__item {
      width: calc(100% / 5 - 12px);
    }
  }
}
.c-card__item {
  margin: 0 6px;
  width: calc(100% / 5 - 12px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:nth-child(n + 6) {
    margin-top: 20px;
  }
}
.c-card__item__img {
  height: 0;
  width: 100%;
  padding-top: 60%;
  position: relative;
  border: 1px solid #dddddd;
  border-radius: 10px;
  img {
    @include absolute-center-xy;
    width: 120px;
    height: 120px;
  }
}
.c-card__item__name {
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  display: flex;
  .u-icon-link--blue {
    margin-left: 4px;
  }
}
