.c-table {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 1.6;
  width: 100%;
  td:first-child {
    width: 200px;
    font-weight: bold;
  }
  tr {
    border-top: 1px solid #ddd;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
  }
  th {
    padding: 16px 0;
    font-size: 14px;
  }

  td {
    padding: 16px 0;
    padding-right: 20px;
    line-height: 1.6;
    vertical-align: middle;
  }
  .u-col .u-text-link {
    line-height: 2.2;
    display: block;
  }
}
.c-table--tournament {
  @extend .c-table;
  table-layout: fixed;
  tr {
    display: table-row;
  }

  .c-table__th__10w {
    width: 80px;
  }
  .c-table--tournament__icon-btn {
    text-indent: -9999px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    @include justify-center;
    @include transition($property: background-color);
    &:hover {
      background-color: #f4f4f4;
    }
    span {
      width: 32px;
      height: 32px;
    }
  }
}
.c-table--event {
  @extend .c-table;
}

.c-table--equal {
  @extend .c-table;
  table-layout: fixed;
}
