.c-table {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  line-height: 1.6;
  width: 100%;
  td:first-child {
    width: 200px;
    font-weight: bold;
  }
  tr {
    border-top: 1px solid #ddd;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
  }
  th {
    padding: 16px 0;
    font-size: 15px;
  }
  td {
    padding: 16px 0;
    padding-right: 20px;
    line-height: 1.6;
    vertical-align: baseline;
    tr {
      border: none;
      &:last-child {
        border-bottom: none;
      }
      td:first-child {
        width: auto;
        font-weight: normal;
      }
    }
  }
  .u-col .u-text-link {
    line-height: 2.2;
    display: block;
  }
  a {
    color: $color-link;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    &:hover {
      text-decoration: none;
    }
  }
}

.c-table--event {
  @extend .c-table;
  .c-table--event__past {
    display: flex;
    a + a {
      margin-left: 16px;
    }
  }
}

.c-table--equal {
  @extend .c-table;
  table-layout: fixed;
}

@include mq(sm) {
  .c-table {
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    line-height: 1.6;
    width: 100%;
    td:first-child {
      width: 100%;
      display: block;
      padding: 0 0 4px;
    }
    tr {
      display: block;
      &:first-child {
        padding-top: 8px;
      }
      + tr {
        padding-top: 8px;
      }
    }
    th {
      padding: 16px 0;
      font-size: 15px;
    }
    td {
      padding: 0 0 8px;
    }
    table {
      tr,
      td {
        display: block;
      }
    }
  }
}
