.p-news-list {
  .p-news-list__item {
    width: 100%;
    &:hover {
      border-color: $color-hover;
      .p-news__title {
        color: $color-hover;
      }
    }
  }
  .p-news-list__item + .p-news-list__item {
    margin-top: 10px;
  }
}
.p-news-list__item {
  border: 1px solid $border-gray;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  @include transition;
  &:hover {
    border-color: $color-hover;
    .p-news__title {
      color: $color-hover;
    }
  }
}
.p-news__date {
  font-size: 17px;
  font-weight: 100;
  margin-bottom: 32px;
  text-align: center;
}
.p-news__title {
  font-size: 17px;
  line-height: 2;
}
