.p-calender-list__row {
  border-bottom: 1px solid #ddd;
  display: flex;
  &:first-child {
    border-top: 1px solid #ddd;
  }
}
.p-calender-list__row__head {
  width: 120px;
  font-size: 20px;
  flex-shrink: 0;
  padding-top: 24px;
  font-weight: bold;
}
.p-calender-list__row__body {
  width: 100%;
}
.p-calender-list__item {
  display: flex;
  padding: 24px 0;
  @include transition($property: color);
  & + .p-calender-list__item {
    border-top: 1px solid #ddd;
  }
  &:hover {
    color: $color-theme;
  }
}
.p-calender-list__item__date {
  width: 120px;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 1.6;
}
.p-calender-list__item__title {
  padding-left: 60px;
  line-height: 1.6;
  width: 100%;
}
.p-calender-list__item__img {
  width: 120px;
}
