.p-quality-video-list {
  display: flex;
  flex-wrap: wrap;
  margin: 40px -10px 0;
}
.p-quality-video-list__item {
  width: calc(100% / 4 - 20px);
  margin-left: 10px;
  margin-right: 10px;
  &:nth-child(n + 5) {
    margin-top: 32px;
  }
  &:hover {
    .icon-video:before {
      color: $color-hover;
    }
  }
}
.p-quality-video-list__item .p-quality-video-list__img {
  border: 5px solid #6e6e6e;
  box-sizing: border-box;
  border-radius: 7px;
}
.p-quality-video-list__title {
  font-size: 17px;
  margin-top: 20px;
  text-align: center;
}
.p-quality-video-list__img {
  position: relative;
  &:before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    @include absolute-center-xy;
  }
  .icon-video {
    font-size: 90px;
    @include absolute-center-xy;
    z-index: 1;
  }
}

.p-quality-video-list__icon-pass {
  fill: none;
  stroke: #ffffff;
}
@media screen and (max-width: 768px) {
  .p-quality-video-list__item {
    width: calc(100% / 2 - 20px);
    margin-left: 10px;
    margin-right: 10px;
    &:nth-child(n + 3) {
      margin-top: 32px;
    }
  }
}
