/*====================================
    TOP
	----------------------------------
  		index
  	----------------------------------

    1. top-banner
    2. top-news
    3. top-activity
    4. top-advertisement

====================================*/

/*
 	1. top-banner
====================================*/

.p-top-banner {
  margin-top: 32px;
}
.p-top-banner__slide__item {
  display: inline-block;
  border: 2px solid #fff;
  margin: 0 6px;
  opacity: 0.3;
  transition: 1s opacity;
  &.slick-active {
    opacity: 1;
  }
  + .p-top-banner__slide__item {
  }
  img {
    width: 100%;
    border-radius: 5px;
  }
}
.p-top-banner__slide {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

.p-top-banner__slide {
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 10;
    &:before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
    }
  }
  .slick-prev {
    left: 0px;
    &:before {
      @include background-cover("u-icon-top-banner--prev.svg");
    }
  }
  .slick-next {
    right: 0px;
    &:before {
      @include background-cover("u-icon-top-banner--next.svg");
    }
  }
}

/*
 	2. top-news
====================================*/
.p-top__section:first-child {
  margin-top: 60px;
}
.p-top__section + .p-top__section {
  margin-top: 80px;
}

.p-top-section__head {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.p-top-section__head__title {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.p-top-section__head__character {
  width: 80px;
  height: 80px;
  margin-right: 4px;
  display: block;
}
.p-top-section__head__character--news {
  @include background-cover("p-top_hedding-img_news.png");
}
.p-top-section__head__character--activity {
  @include background-cover("p-top_hedding-img_activity.png");
}
.p-top-section__head__character--ad {
  @include background-cover("p-top_hedding-img_ad.png");
}
.p-top-head__btn {
  width: 160px;
  height: 40px;
  @include justify-center;
  background-color: $color-theme;
  font-size: 14px;
  color: #fff;
  border-radius: 20px;
  position: relative;
}
.u-icon-right-angle {
  width: 20px;
  height: 20px;
  @include absolute-center-y;
  right: 8px;
  @include background-cover("u-icon-right-angle.svg");
}
.p-top-info {
  justify-content: space-between;
}
.p-news {
  width: calc(100% - 420px);
}
.p-news-nav {
  border-radius: 10px;
  flex-shrink: 0;
  max-width: 150px;
  width: 100%;
  height: 380px;
}
.p-news-nav__item {
  border-radius: 10px;
  position: relative;
  font-size: 13px;
  padding: 16px;
  box-sizing: border-box;

  + .p-news-nav__item {
    margin-top: 32px;
  }
  &.is-active {
    font-weight: bold;
  }
  &.is-active:before {
    content: "";
    display: block;
    border-top: 6px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
  }

  &.p-news-nav__item--all.is-active {
    color: $color-theme;
  }
  &.p-news-nav__item--news.is-active {
    color: #fff;
    background-color: $color-news;
    &::before {
      border-left-color: $color-news;
    }
  }
  &.p-news-nav__item--event.is-active {
    color: $color-event;
  }
  &.p-news-nav__item--junior.is-active {
    color: $color-junior;
  }
  &.p-news-nav__item--member.is-active {
    color: $color-member;
  }
  &.p-news-nav__item--magazine.is-active {
    color: $color-magazine;
  }
}

.p-top-sns {
  margin-left: 40px;
  width: 380px;
  height: 544px;
  flex-shrink: 0;
  .p-top-section__head__title {
    height: 80px;
    justify-content: center;
    width: 100%;
  }
  .l-content {
    height: 464px;
  }
}
.u-icon-facebook {
  @include background-cover("u-icon-facebook.svg");
  width: 40px;
  height: 40px;
  margin-right: 4px;
}
.fb-container {
  width: 100%;
  max-width: 500px;
}
.p-top-sns__facebook {
  iframe {
    height: 100%;
    width: 100%;
  }
  height: 100%;
}

/*
 	3. top-activity
====================================*/
.p-top-activity__main {
  display: flex;
  justify-content: space-between;
}
.p-top-activity__main__item {
  &:before {
    content: "";
    display: block;
    padding-top: 60%;
  }
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding: 16px;
  + .p-top-activity__main__item {
    margin-left: 16px;
  }
}
.p-top-activity__main__item__img {
  width: 100%;
  height: 100%;
  @include absolute-center-xy;
  &:before {
    width: 100%;
    height: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    );
  }
}
.p-top-activity__main__item__img--event {
  @include background-cover("p-top_activity-main_event.png");
}
.p-top-activity__main__item__img--junior {
  @include background-cover("p-top_activity-main_junior.png");
}
.p-top-activity__main__item__img--member {
  @include background-cover("p-top_activity-main_member.png");
}
.p-top-activity__main__item__title {
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 32px);
  color: #fff;
}
.p-top-activity__sub {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px -6px 0;
}
.c-btn--gray {
  height: 80px;
  width: calc(100% / 4 - 12px);
  padding: 0 12px;
  margin: 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  border-radius: 10px;
  &:nth-child(n + 5) {
    margin-top: 12px;
  }
  .c-btn__title {
    font-size: 14px;
    display: flex;
    align-items: center;
    span {
      margin-right: 4px;
    }
  }
}

/*
 	3. top-advertisement
====================================*/
.p-top-advertisement__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
}
.p-top-advertisement__list__item {
  margin: 0 4px;
  max-width: 120px;
  width: 100%;
  border: 1px solid #ddd;
}
